@page
@model DiningSystem.Pages.UserModel
@{
}


@* <h2 class="text-center">welcome to your account User</h2>

<div>
    First Name: @Model.appUser?.FirstName
</div>

<div>
    First Name: @Model.appUser?.LastName
</div>
<div>
    First Name: @Model.appUser?.Email
</div>
<div>
    First Name: @Model.appUser?.PhoneNumber
</div>
<div>
    First Name: @Model.appUser?.Address
</div>
<div>
    First Name: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")
</div> *@




@*Adding Cards for restaurnat*@
<div class="wrap">
@foreach (var item in Model.listRestaurant)
{
 
        <div class="box">
            <div class="box-top">
                <img class="box-image" src="/css/images/@(item.Image).jpg" alt="banner1">
                <div class="title-flex">
                    <h3 class="box-title">@item.r_name</h3>
                    <p class="user-follow-info">@item.id</p>
                </div>
                <p class="description">@item.r_description</p>
            </div>
            <a asp-route-id="@item.id" asp-page="/RestaurantMenu" class="button">Explore Menu</a>

        </div>
   
}
</div>


