@page
@model DiningSystem.Pages.UserModel
@{
}


@* <h2 class="text-center">welcome to your account User</h2>

<div>
    First Name: @Model.appUser?.FirstName
</div>

<div>
    First Name: @Model.appUser?.LastName
</div>
<div>
    First Name: @Model.appUser?.Email
</div>
<div>
    First Name: @Model.appUser?.PhoneNumber
</div>
<div>
    First Name: @Model.appUser?.Address
</div>
<div>
    First Name: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")
</div> *@






<div class="search-container">
    <div class="search-box">
        <input type="text" id="searchInput" class="search-input" placeholder="Search..." oninput="searchContent()" />
        <i class="fa fa-search search-icon"></i>
    </div>
</div>






<div class="wrap">
@foreach (var item in Model.listRestaurant)
{
 
        <div class="box">
            <div class="box-top">
                <img class="box-image" src="/css/images/@(item.Image).jpg" alt="banner1">
                <div class="title-flex">
                    <h3 class="box-title">@item.r_name</h3>
                    <p class="user-follow-info">@item.timings</p>
                    <p class="user-follow-info">Max People Served Per Table: @item.max_people</p>
                </div>
                <p class="description">@item.r_description</p>
            </div>
            <a asp-route-id="@item.id" asp-page="/RestaurantMenu" class="button">Explore Menu</a>

        </div>
   
}
    <div class="box">
        <div class="box-top">
            <img class="box-image" src="/css/images/slide1.jpg" alt="banner1">
            <div class="title-flex">
                <h3 class="box-title">McDonalds</h3>
                <p class="user-follow-info">2</p>
            </div>
            <p class="description">info is info</p>
        </div>
        <a asp-route-id="" asp-page="/RestaurantMenu" class="button">Explore Menu</a>

    </div>

    <div class="box">
        <div class="box-top">
            <img class="box-image" src="/css/images/first.jpg" alt="banner1">
            <div class="title-flex">
                <h3 class="box-title">Ginsoy</h3>
                <p class="user-follow-info">4</p>
            </div>
            <p class="description">info is info</p>
        </div>
        <a asp-route-id="" asp-page="/RestaurantMenu" class="button">Explore Menu</a>

    </div>
    
</div>





